{
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-import-sort"],
  "tailwindConfig": "./tailwind.config.ts",
  "tailwindStylesheet": "./src/app/globals.css",
  "printWidth": 80,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "tailwindFunctions": ["clsx"],
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
