---
import Layout from "../layouts/Layout.astro";
import Goback from "../components/Goback";
---

<Layout
  title="Page Not Found"
  description="Error 404 | Page not found"
  ogImage="https://media.dev.to/cdn-cgi/image/width=800,height=400,fit=cover,gravity=auto,format=auto/https://film-fanatic.vercel.app/ogimage.webp"
>
  <main>
    <section class="bg-white min-h-screen items-start pt-20">
      <div
        class="max-w-screen-xl mx-auto items-center py-3 px-5 md:px-10 xl:px-5 text-center"
      >
        <h1
          class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-blue-500"
        >
          404
        </h1>
        <p
          class="mb-4 text-3xl tracking-tight font-bold md:text-4xl text-black"
        >
          Something's missing.
        </p>
        <p class="mb-4 text-lg font-light text-gray-700">
          Sorry, we can't find that page. You'll find lots to explore on the
          home page.
        </p>
        <br />
        <!-- <a
          href="/"
          class="inline-flex text-black bg-gray-200/70 hover:bg-gray-200 focus:ring-2 focus:outline-none focus:ring-white font-medium rounded-lg text-sm px-5 py-2.5 text-center my-4"
          >Back to Home</a
        > -->
        <Goback text="Go Back" client:load />
      </div>
    </section>
  </main>
</Layout>
