---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Page Not Found" description="Error 404 | Page not found" ogImage="https://media.dev.to/cdn-cgi/image/width=800,height=400,fit=cover,gravity=auto,format=auto/https://film-fanatic.vercel.app/ogimage.webp" >
  
  <main>
    <section class="bg-gray-900 min-h-screen items-start pt-20">
      <div
        class="py-8 px-4 mx-auto max-w-screen-md text-center lg:py-16 lg:px-12"
      >
        
      <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-blue-500">404</h1>
            <p class="mb-4 text-3xl tracking-tight font-bold md:text-4xl text-white">Something's missing.</p>
            <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">Sorry, we can't find that page. You'll find lots to explore on the home page. </p>
          <br />
            <a href="/" class="inline-flex text-white bg-gray-700/70 hover:bg-gray-700 focus:ring-2 focus:outline-none focus:ring-white font-medium rounded-lg text-sm px-5 py-2.5 text-center   my-4">Back to Homepage</a>
        
      </div>
    </section>
  </main>
  
  </Layout> 