---
import Layout from "../layouts/Layout.astro";
import SearchForm from "../components/SearchForm.astro";
import HomepageMovies from "../components/HomepageMovies.astro";

---

<Layout>
  <main>
    <div class="bg-gray-100 my-5 md:my-10 mx-5 md:mx-10 rounded-xl">
      <div class="justify-center mx-auto items-center lg:py-10">
        <SearchForm quary="" />
      </div>
    </div>
    <div class="pb-10 mx-auto">
      <HomepageMovies />
    </div>
  </main>
</Layout>

<style></style>
