---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
const key = import.meta.env.ApiKeyAuth;
const url = import.meta.env.ApiUrl;

const homepagetrending = await fetch(`${url}trending/all/week?sort_by=popularity.desc&api_key=${key}&page=1`).then((res) => res.json());

// console.log(homepagetrending);
const data = JSON.stringify(homepagetrending);
---
<Layout>
  <!-- <form action="/search">
    <input
      class="py=5 px-20"
      type="text"
      id="q"
      name="q"
      placeholder="search here"
    />

    <button type="submit">Search</button>
  </form> -->

  <!-- {data} -->

  <Navbar />
  
</Layout>
