---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import SearchForm from "../components/SearchForm.astro";
import HomepageTrendingMovies from "../components/homepage/HomepageTrendingMovies.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <!-- <form action="/search">
    <input
      class="py=5 px-20"
      type="text"
      id="q"
      name="q"
      placeholder="search here"
    />

    <button type="submit">Search</button>
  </form> -->

  <!-- {data} -->

  <Navbar />
  <main>
    <div class="bg-gray-900 pb-10 md:my-10 md:mx-10 rounded-xl">
      <div>
        <h1 class="text-center text-xl lg:text-3xl font-semibold py-10 px-3">
          Experience the magic of cinema with Film Fanatic
        </h1>
      </div>
      <div class="justify-center mx-auto items-center lg:py-10">
        <SearchForm />
      </div>
    </div>
    <div class="py-10 mx-auto">
      <HomepageTrendingMovies />

     
      </div>
    </div>
  </main>
  <Footer />
</Layout>
