---
import Layout from '../layouts/Layout.astro';
const quary = Astro.url.searchParams.get("q");

const key = import.meta.env.ApiKeyAuth;
const url = import.meta.env.ApiUrl;
async function getSearchResults() {
    try {
        const response = await fetch(`${url}/search/multi?api_key=${key}&query=${quary}`);
        const data = await response.json();
        return data;
    } catch (error) {
        console.error(error);
    }
}

let searchResults: any;

if (quary) {
    searchResults = JSON.stringify(await getSearchResults());
    // console.log(searchResults);
}
else {
    searchResults = null;
}

// const data = searchResults ? JSON.parse(searchResults) : {};


---
<Layout>
  <h1>Search Results for "{searchResults}"</h1>
</Layout>
