@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
/* @layer base {
  :root {
    --gradient: linear-gradient(to top left, #00f5a0, #00d9f5);
    --background: 169 65% 3.84%;
    --foreground: 169 10% 97.4%;
    --muted: 169 50% 14.399999999999999%;
    --muted-foreground: 169 10% 54.8%;
    --popover: 169 45% 6.24%;
    --popover-foreground: 169 10% 97.4%;
    --card: 169 45% 6.24%;
    --card-foreground: 169 10% 97.4%;
    --border: 169 50% 14.399999999999999%;
    --input: 169 50% 14.399999999999999%;
    --primary: 169 100% 48%;
    --primary-foreground: 169 10% 4.8%;
    --secondary: 169 50% 14.399999999999999%;
    --secondary-foreground: 169 10% 97.4%;
    --accent: 169 50% 14.399999999999999%;
    --accent-foreground: 169 10% 97.4%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 169 10% 97.4%;
    --radius: 0 rem;
    --ring: 169 100% 48%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
} */

@layer base {
  :root {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Custom scrollbar styles */
.scrollbar-small::-webkit-scrollbar {
  height: 6px;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
/* .scrollbar-small::-webkit-scrollbar {
  display: none;
} */
.scrollbar-small::-webkit-scrollbar-thumb {
  background: hsl(var(--foreground) / 70%);
  border-radius: 5px;
}

.scrollbar-small::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--foreground));
}
