---
const navlinks = [
  { name: "Trending", href: "/trending" },
  { name: "Playing", href: "/now-playing" },
  { name: "Upcoming ", href: "/upcoming" },
];
---

<ul class="hidden md:flex text-xl font-medium ">
  {
    navlinks.map((link) => (
      <li >
        <a href={link.href} class={Astro.url.pathname === link.href ? 'px-2.5 py-1.5 rounded-md bg-gray-500/30' : 'px-2.5 py-1.5'}>{link.name}</a>
      </li>
    ))
  }
</ul>
