---
import { Image } from "astro:assets";
const year = new Date().getFullYear();
---

<footer class="bg-gray-200">
  <div
    class="container max-w-screen-xl flex flex-col items-center justify-between p-6 mx-auto space-y-4 sm:space-y-0 sm:flex-row"
  >
    <p class="text- text-center">Made with ❤️ By Swastik Dan</p>

    <a href="https://github.com/Swastikdan/Film-Fanati" target="_blank"> Github </a>
  </div>
</footer>
