---
import { Image } from "astro:assets";
import ScrollContainer from "./ScrollContainer.astro";
import Model from "./Model";
interface Props {
movietitle: string;
  movieimages: string[];
  containerid: string;
}
const { movietitle ,movieimages ,containerid } = Astro.props;
// const cdn= "https://cdn.statically.io/img/";
const cdn= "https://media.dev.to/cdn-cgi/image/width=1000,height=600,fit=cover,gravity=auto,format=auto/";
---
<ScrollContainer contantainerid={containerid} >
  <div class="flex flex-row  ">
    {movieimages.map((image) => (
      <Model client:visible fullimagelink={image}>
        <div class="h-auto  w-72 md:w-96 ">
          <Image width="1200" height="720"
                 class="aspect-auto min-h-40 sm:min-h-56 object-cover rounded-lg bg-gray-500"
                 src={cdn+image}
                 alt={`${movietitle} media images`}
          />
        </div>
      </Model>
    ))}
  </div>  
</ScrollContainer>             
  <!-- <Model client:load /> -->