---
import {List} from "@phosphor-icons/react";
const navlinks = [
  { name: "Trending", href: "/trending" },
  { name: "Now Playing", href: "/now-playing" },
  { name: "Upcoming ", href: "/upcoming" },
];

---

<style>
    #sortbox:checked ~ #sortboxmenu {
        opacity: 1;
    }
</style>

<div class="relative md:hidden ">
    <input type="checkbox" id="sortbox" class="hidden absolute">
    <label for="sortbox" class="flex items-center space-x-1 cursor-pointer">
    <List size={40} weight="bold" />
    </label>

        <div id="sortboxmenu" class="absolute mt-1 right-1 top-full min-w-max shadow  opacity-0 bg-gray-900  transition-all duration-200 rounded-md  ease-in-out z-10">
        <ul class="block text-left  ">
            {navlinks.map((link) => (
                <li>
                    <a href={link.href} class="block pl-5 pr-10 py-3 text-[22px] text-white font-medium hover:bg-gray-800">{link.name}</a>
                </li>
            ))}
        </ul>
    </div>
</div>