---

const navlinks = [
  { name: "Trending", href: "/trending" },
  { name: "Now Playing", href: "/now-playing" },
  { name: "Upcoming ", href: "/upcoming" },
];

---

   <li class="toggleable hover:text-white md:hidden">
        <input type="checkbox" value="selected" id="toggle-one" class="toggle-input">
          <label for="toggle-one" class="block cursor-pointer text-lg font-bold ring-2 px-2 py-1 ring-white text-center">Menu</label>
          <div class="py-3 mega-menu mb-16 sm:mb-0 shadow-xl bg-gray-800 z-20 mt-4">
            <div class="container mx-auto w-full flex flex-wrap justify-between ">
              <ul class=" w-full  pb-3">
                 {navlinks.map((link) => (
                <li>
                  <a href={link.href} class="block pl-5 pr-10 m-2 py-3 text-[22px] text-white font-medium hover:bg-gray-600 focus:ring-2 focus:outline-none ring-white">{link.name}</a>
                </li>
                ))}
              </ul>
             
              </div>
            </div>
          </li>

<style>
      .mega-menu {
    display: none;
    left: 0;
    position: absolute;
    text-align: left;
    width: 100%;
  }

.toggleable > label:after {
    content: "\25BC";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
  }

  .toggle-input {
    display: none;
  }
  .toggle-input:not(checked) ~ .mega-menu {
    display: none;
  }

  .toggle-input:checked ~ .mega-menu {
    display: block;
  }

  .toggle-input:checked + label {
    color: white;
    background: rgb(59, 130 ,246) /*@apply bg-blue-800 */
  }

  .toggle-input:checked ~ label:after {
    content: "\25B2";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
  }
  li{
    list-style: none;
  }
</style>