---
import Model from "./Model"
import { Image } from "astro:assets";
interface Props {
    title: string;
    image: string;
}

const { title, image } = Astro.props;

const cdn = "https://media.dev.to/cdn-cgi/image/width=400,height=600,fit=cover,gravity=auto,format=auto/"
---


<div class="flex justify-center ">
            <Image
              src={cdn+image}
              width={400}
              height={600}
              alt={title}
              class="bg-gray-600 object-cover rounded-xl   "
            />
          </div>
        
       