---
interface Props {
  quary: string;
}
const { quary } = Astro.props;
import { MagnifyingGlass } from "@phosphor-icons/react";
---

<form class="flex items-center max-w-5xl mx-auto" action="/search" >
  <label for="voice-search" class="sr-only">Search</label>
  <div class="relative w-full">
    <div
      class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
    >
      <MagnifyingGlass size={16} />
    </div>
    <input
      type="text"
      id="movie-search"
      name="q"
      class="bg-gray-100 border border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
      placeholder="👀 What movie or show? Let's find it!"
      value={quary}
      required
    />
  </div>
  <button
    type="submit"
    class="inline-flex items-center py-2.5 px-3 ms-2 text-sm font-medium text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-2 focus:outline-none ring-blue-500"
  >
    <MagnifyingGlass className="me-2" size={16} /> Search
  </button>
</form>
