---
import { ViewTransitions } from "astro:transitions";

import "@fontsource-variable/sora";
// interface Props {
// 	title: string;
// }

// const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Home</title>
    <ViewTransitions />
  </head>
  <body class="font-sora">
    <slot />
    <style is:global>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
	  .font-sora{
		  font-family: "Sora", sans-serif;
		  font-display: swap;
	  }


    </style>
  </body>
</html>
